doctype html
html
    head
        title= title
        script(src='http://localhost:3000/build/main.js')
    body(data-ng-app="mapla")
        div(data-ng-controller="testController") testsdadad{{test}}